html,body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #191919;
    height:100%;
    width:100%;
    color: white;
}

.custom-font {
    font-family: 'Droid Sans', sans-serif;
}

.red-font {
    color: #7B040D;
}

.hal {
    height: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
}

.hal img {
    margin-top:30%;
}

.hal h1 {
    margin:0px;
    padding:0px;
}

.hal .demo {
    margin-top:40px;
    background-color: #333;
    padding:10px;
    font-size:12px;
    font-family: "Courier New", Courier, monospace;
}
